# Byte-compiled / optimized / DLL files
.vs/
.vscode/
bin/
obj/

# User-specific files
appsettings.json
.env
*.suo
*.user
*.userosscache
*.sln.docstates

# Local settings
local.settings.json

# Azure Functions
.NET8 Runtime
.csx
*azurite*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
.env.template
